    <link href="~/css/Artikelen.css" rel="stylesheet" />

@model IEnumerable<CLAD.Models.Article>


@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/Artikelen.css" />


<div class="container-fluid">
    <div class="">
        <h2 class="heading-secundiary text-center">
            Artikelen
        </h2>
    </div>
    <div class="container">
        <table class="table table-borderless">
            @{int x = 0;}
            @foreach (var item in Model)
            {
                if (x % 2 == 0)
                    {
                        <tr>
                            <td style="width: 150px;"><img src="~/img/uploads/omar.jpg" class="img-round" alt="image" height="150" width="150"></td>
                            <td>
                                <h1 class="heading-primary">@Html.DisplayFor(modelItem => item.Title)</h1>
                                <p class="article-info">
                                    @Html.DisplayFor(modelItem => item.AuthorId)
                                    @Html.DisplayFor(modelItem => item.PublicationDate)
                                </p>
                                <span class="text-article">
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Content))
                                    <a asp-action="Details" asp-route-id="@item.Id"> Lees verder...</a>
                                </span>
                            </td>
                        </tr>
                        
                    }
                    else
                    {
                        <tr>

                            <td>
                                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                                <p class="article-info-2">
                                    @Html.DisplayFor(modelItem => item.AuthorId)
                                    @Html.DisplayFor(modelItem => item.PublicationDate)
                                </p>
                                <span class="text-article-2">
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Content))
                                    <a asp-action="Details" asp-route-id="@item.Id"> Lees verder...</a>
                                </span>
                            </td>
                            <td><img src="~/img/uploads/omar.jpg" class="img-round-2" alt="image" height="150" width="150"></td>
                        </tr>
                    }
                x++;
                }
        </table>
    </div>
    
</div>