<link href="~/css/Artikelen.css" rel="stylesheet" />

@model IEnumerable<CLAD.Models.Article>


@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/Artikelen.css" />


<div class="container-fluid">
    <div class="">
        <h2 class="heading-secundiary text-center">
            Artikelen
        </h2>
    </div>
    <div class="container">
        <table class="table table-borderless">
            @foreach (var item in Model)
            {

                <tr>
                    <td class="td-img"><img src="img/uploads/@Html.DisplayFor(modelItem => item.Consultant.ImgName)" class="img-round-2" alt="image" height="150" width="150"></td>
                    <td>
                        <h1 class="heading-primary">@Html.DisplayFor(modelItem => item.Title)</h1>
                        <p class="article-info">
                            @Html.DisplayFor(modelItem => item.Consultant.DisplayName),
                            @Html.DisplayFor(modelItem => item.PublicationDate)
                        </p>
                        <span class="text-article">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Content))
                            <a asp-action="Details" asp-route-id="@item.Id"> Lees verder...</a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>