@model IEnumerable<CLAD.Models.Consultant>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultant overzicht</h1>

<p>
    <a asp-action="Create">Consultant toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Beschrijving
            </th>
            <th>
                Naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Consultant</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
