@model IEnumerable<CLAD.Models.Consultant>
@{
    ViewData["Title"] = "Consultant table";
}
<div class="container">
    <h1>Consultant overzicht</h1>
    <hr />
    <br />
    <table id="jquerytable" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Beschrijving
                </th>
                <th>
                    Naam
                </th>
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="max-width:450px;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.DisplayName)</p>
                </td>
                <td style="max-width:600px;">
                    <img src="~/img/@Html.DisplayFor(modelitem => item.ImgName)" class="imgconsultantindex">
                </td>
                <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Bewerken</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Consultant</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Verwijderen</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-outline-primary">Consultant toevoegen</a>

</div>